.survey-box {
    width: 800px;
    border: 5px solid #00b300;
    padding: 15px;
    margin-top: 100px;
    margin: auto;
    

}
@media  (max-width: 414px) {
    .survey-box{
        width: 350px;
    }
    
    
}


.submit-btn {
    text-align: center;

}

#question {
    display: block;
}

#myChart{
    display: none;
}


.bglp{
    background-color: #00b300;
}

.btnlp{
    margin-top: 100px;
}